extends ../layout

block content

  .mainSpace
    p
    p
    p
    h1= article.title
    form(id="articleEditForm", method="post", action="/zine/showArticles")
      p Title:
      input(type="text", name="articleTitleInput", value=article.title)
      br
      p Background URL:
      input(type="text", name="backgroundImgUrlInput", value=article.backgroundURL)
      br
      input(type="checkbox", name="backgroundDarkColorsBox") 
      | Background Image Has Dark Colors
      p Excerpt:
      textarea(name="articleExcerptTextArea")=article.excerpt
      br
      p Body:
      textarea(name="articleBodyTextArea")=article.body
      br
      input(type="submit", id="newArticleSubmitButton", value="Edit Article!")
      br
      br
      br
      br
      input.delete(type="submit", name="deleteButton", value="DELETE ARTICLE") 
      p
      p
      p
      
